#home{
    position:relative;
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    .app__wrapper{
        padding:0;
    } 
    .copyright{
        display:none;
    }
}











.app__header-circles{     // circles container
 
    div:nth-child(1){    // technology logo circle parent
        width: 100px;
        height: 100px;
    }
    div:nth-child(2){    // technology logo circle parent
        margin: 1.75rem;
        width: 150px;
        height: 150px;
    }
    div:nth-child(3){    // technology logo circle parent
        width: 70px;
        height: 70px;
    }
    @media screen and (min-width:2000px){     // technology logo circle
            div:nth-child(1){   
                width: 400px;
                height: 400px;
            }
            div:nth-child(2){   
                margin: 1.75rem;
                width: 170px;
                height: 170px;
            }
            div:nth-child(3){   
                width: 200px;
                height: 200px;
            }
    }
}

